li{
    list-style: none;
}
.nav-center,.Progress,main{
    width: 1000px;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0;
}
.navbar{
    background-color: white;
}
.navbar-nav{
    position: relative;
    top:13px;
}
.nav-right{
    float:right;
}